.add__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  min-height: 600px;
  margin: 0 auto;
  padding: 30px;
  font-size: 25px;
  color: #fff;
  background-color: $color_green;
  border-radius: 50px;
}

.add__title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 600;
}

.add__name {
  margin-bottom: 30px;
}

.add__input {
  width: 400px;
  height: 30px;
  padding: 0 10px;
  color: #252525;
  border-radius: 5px;
}

.add__select {
  width: 430px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}

.add__textarea {
    width: 600px;
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
}

.add__form {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;

    input {
        width: 20px;
        height: 20px;
    }
}

.add__btns {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.add__btn {
    font-size: 25px;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: none;
}
