.cart {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  margin-top: 15px;
  padding: 40px;
  border: 2px solid $color_green;
  border-radius: 50px;
  transition: 0.7s;
}

.cart__title {
  margin: 0 auto 50px;
  font-size: 40px;
  font-weight: 600;
  color: #252525;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin-bottom: 30px;
  padding: 20px 40px;
  font-size: 25px;
  font-weight: 600;
  color: #252525;
  border: 2px solid $color_green;
  border-radius: 50px;
}

.cart__item--img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  border: 2px solid $color_green;
  border-radius: 50px;
}

.cart__item--title {
  width: 550px;
  font-size: 30px;
}
.cart__item--size {
  width: 150px;
}

.cart__item--coast {
  width: 150px;
  text-align: right;
}

.cart__item--btn {
  font-size: 30px;
  background: transparent;
  border: none;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  border: 2px solid $color_green;
  border-radius: 50px;
}

.cart__btn {
  width: 200px;
  font-weight: 600;
  color: $color_green;
  background: transparent;
  border: none;
}
